*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 8px;
    background-color: rgba(20, 105, 216, 0.718);
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1 {
    font-style: italic;
}

a {
    margin-left: 12px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.sobre {
    display: flex;
    margin-top: 32px;
}

h2 {
    color: rgba(20, 105, 216, 0.718);;
    padding-bottom: 8px;
    margin-bottom: 32px;
    border-bottom: 5px solid rgba(20, 105, 216, 0.718);
}


#about {
    margin-left: 32px;
}

.loja {
    margin-top: 64px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    width: 100%;
}

li > p {
    font-size: .9em;
    margin-bottom: 5px;
}

h3 {
    font-weight: bold;
    margin-bottom: 4px;
}

button {
    padding: 5px;
    border: none;
    background-color: rgba(20, 105, 216, 0.718);
    color: #fff;
    margin-bottom: 8px;
}



